<!DOCTYPE html>

<script type="text/javascript">
  window.MathJax = {
    tex: {
      packages: ['base', 'ams', 'eucal']
      macros: {
        category: ["\\mathcal{ #1}, 1]
      }
    },
    loader: {
      load: ['ui/menu', '[tex]/ams']
    }
  };
</script>
<script type="text/javascript" id="MathJax-script" async
                               src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <div class="container">

      {{ content }}

    </div><!-- /.container -->
    <footer>
      <ul>
        <li><a href="mailto:angus.h.rush@gmail.com">email</a></li>
        <li><a href="https://github.com/angusrush">github.com/angusrush</a></li>
      </ul>
    </footer>
  </body>
</html>
